header {
  background-color: var(--color-2);
  color: var(--color-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-l) 60px;
  gap: 40px;
}

header > h1 {
  font-size: 30px;
  margin-right: var(--margin-xl);
  cursor: pointer;
}

.divH > ul {
  display: flex;
}

.divH > ul > li {
  padding: var(--padding-m);
  cursor: pointer;
}
