.aboutMe {
  background-color: var(--color-1);
  color: var(--color-3);
  padding: 100px;
  height: auto;
}

.aboutMe > h2 {
  font-size: 50px;
  font-weight: 800;
  padding: 0 0 15px 0;
}

.aboutMe > p {
  font-size: 30px;
  font-weight: 300;
  max-width: 60%;
}

@media (max-width: 1058px) {
  .aboutMe {
    padding: 80px;
  }

  .aboutMe > p {
    font-size: 25px;
    font-weight: 300;
    max-width: 76%;
  }
}

@media (max-width: 746px) {
  .aboutMe {
    padding: 60px;
  }

  .aboutMe > h2 {
    font-size: 40px;
    font-weight: 700;
  }

  .aboutMe > p {
    font-size: 20px;
    font-weight: 400;
    max-width: 80%;
  }
}

@media (max-width: 586px) {
  .aboutMe {
    padding: 40px;
  }

  .aboutMe > h2 {
    font-size: 30px;
    font-weight: 800;
  }

  .aboutMe > p {
    font-size: 18px;
    font-weight: 400;
    max-width: 80%;
  }
}

@media (max-width: 430px) {
  .aboutMe {
    padding: 40px;
  }

  .aboutMe > h2 {
    font-size: 45px;
    font-weight: 800;
    text-align: center;
  }

  .aboutMe > p {
    font-size: 16px;
    font-weight: 400;
    max-width: 100%;
    text-align: center;
  }
}
